<h1>Update Your Profile</h1>
<form id="user-update">
  <label for="username">Username:</label>
  <input id="username" type="text" name="user[username]" value="<%= user.escape('username') %>">
  <br>
  <label for="real-name">Your Name:</label>
  <input id="real-name" type="text" name="user[real_name]" value="<%= user.escape('real_name') %>">
  <br>
  <label for="age">Age:</label>
  <input id="age" type="text" name="user[age]" value="<%= user.escape('age') %>">
  <br>
  <label for="age_range">Age range (from your own):</label>
  <input id="age_range" type="text" name="user[age_range]" value="<%= user.escape('age_range') %>">
  <br>
  <button class="submit">Update!</button>
</form>

<label for="feed-url">Add a new Feed:</label>
<input id="feed-url" type="text" name="feed[url]">
<button class="add-feed">Add Feed</button>