<h3>Update Your Profile</h3>
<br>
  <form id="user-update">
    <table class="centered">
      <tr>
        <td><label for="username">Username:</label></td>
        <td><input id="username" class="form-control" type="text" name="user[username]" value="<%= model.escape('username') %>"></td>
      </tr>
      <tr>
        <td><label for="real-name">Your Name:</label></td>
        <td><input id="real-name" class="form-control" type="text" name="user[real_name]" value="<%= model.escape('real_name') %>"></td>
      </tr>
      <tr>
        <td><label for="age">Age:</label></td>
        <td><input id="age" type="number" class="form-control" name="user[age]" value="<%= model.escape('age') %>"></td>
      </tr>
    </table>
    <br>
    <button class="btn green" id="submit-update">Update</button>
  </form>
  
<div class="new-feed-block">
  <label for="feed-url"><h3>Or add your personal feed:</h3></label>
  <input id="feed-url" class="form-control" type="text" name="feed[url]">
  <br>
  <button class="btn green add-feed">Submit!</button>
</div>
