<div class="auth-div">
<form class="guest-hidden" action="<%= session_url %>" method="POST">
  <%= csrf_tag %>
  <p>Just wanna look around?</p>
  <input type="hidden" name="user[username]" value="Guest">
  <input type="hidden" name="user[password]" value="guest_login">
  <input class="btn guest-btn submit" type="submit" value="Be my guest.">
</form>
</div>