<%= flash_errors %>
<br><br>
<form class="auth-form" action="<%= action %>" method="POST">
  <%= csrf_tag %>
  <label for="username">Username: </label>
  <input type="text" id="username" name="user[username]">
  <br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="user[password]">
  <br>
  <input class="submit" type="submit" value="<%= action == session_url ? 'Sign In' : 'Sign Up' %>">
</form>

<script>
  $(function() {
      var mTop = ($('.logo').width() * 0.35);
      $('.auth-form').css('margin-top', mTop);
      $('.auth-form #username').focus();
    });
</script>