<br><br>
<form class="auth-form" action="<%= action %>" method="POST">
  <%= flash_errors %>
  <%= csrf_tag %>
  <input type="text" autocomplete="off" id="username" name="user[username]" placeholder="username">
  <br>
  <input type="password" id="password" name="user[password]" placeholder="password">
  <br>
  <input class="btn auth-btn" style="color:black" type="submit" value="<%= action == session_url ? 'Sign In' : 'Sign Up' %>">
</form>

<script>
  $(function() {
      var mTop = ($('.logo-full').width() * 0.35);
      $('.auth-form').css('margin-top', mTop);
      $('.auth-form #username').focus();
    });
</script>