<%= flash_errors %>
<br><br>
<form action="<%= action %>" method="POST">
  <%= csrf_tag %>
  <label for="username">Username: </label>
  <input type="text" id="username" name="user[username]">
  <br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="user[password]">
  <br>
  <input type="submit" value="Let's go">
</form>