<h3>Find Your Next Feed</h3>
<br>
<form id="feed-search-form" class="form-group">
  <label for="feed-topic">Search by Topic:</label>
  <input id="feed-topic" type="text" name="feed[topic]" class="form-control" autofocus>
  <br>
  <button class="btn find-topic-feeds green">Find me these feeds.</button>
  <button class="clear-selected-topics red btn">clear these topics.</button>
  <br>
</form>
<div class="search-result-content"></div>