<div class="desc-layer-bg"></div>
<div class="feed-desc">
  <h2 class="feed-title"><%= feed.get('title') %></h2>
  <h3><%= feed.get('description') %></h3>
    <% var topics = feed.topics(); %>
    <h4>Topics</h4>
    <% if (topics.length > 0) { %>
      <ul>
        <% topics.each(function(topic) { %>
          <li class="topic-list-item"><%= topic.get('title') %></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>There are currently no topics associated with this feed.</p>
    <% }; %>
</div>