<div class="modal-background"></div>
<div class="modal-content symphony-bg">
  <div class="errors"></div>
  <button class="close">&times;</button>
  <h3>Find Your Next Feed</h3>
  <br>
  <div class="ui-widget">
    <form id="feed-search-form">
      <label for="feed-title">Search by title:</label>
      <input id="feed-title" type="text" name="feed[title]">
      <button class="btn find-titled-feed green">Show me.</button>
      <br><br>
      <h4>Include:</h4>
      <br>
      <label for="public-feeds">public feeds:</label>
      <input type="checkbox" name="feed[public]" value="1">
      <label for="personal-feeds">personal feeds:</label>
      <input type="checkbox" name="feed[personal]" value="1">
    </form>
  </div>
</div>