<div class="modal-background"></div>
<div class="modal-content symphony-bg">
  <div class="errors"><ul></ul></div>
  <div class="whirly"></div>
  <button class="close">&times;</button>
  <h3>Add A Public Feed</h3>
  <br>
  <div class="new-feed-block">
    <label for="public-feed-url">Feed url:</label>
    <input id="public-feed-url" type="text" name="feed[url]">
    <button class="btn green add-public-feed">Submit!</button>
  </div>
</div>