<h3>Add A Public Feed</h3>
<br>
<div class="new-feed-block centered">
  <label for="public-feed-url">Feed url:</label>
  <input id="public-feed-url" type="text" name="feed[url]">
  <button class="btn green add-public-feed">Submit!</button>
</div>