<h3>Add A Public Feed</h3>
<br>
<form class="form-group">
  <input id="public-feed-url" class="form-control" type="text" name="feed[url]" placeholder="feed URL">
  <br>
  <input type="submit" class="btn add-public-feed plain" value="Submit!">
</form>
<script>
$(function() {
  $('#public-feed-url').focus();
});
</script>