<div class="modal-background"></div>
<div class="modal-content symphony-bg">
  <div class="errors"></div>
  <button class="close">&times;</button>
  <h3>Add A New Feed</h3>
  <br>
  <div class="new-feed-block">
    <label for="feed-url">Feed url:</label>
    <input id="feed-url" type="text" name="feed[url]">
    <button class="btn add-feed">Submit!</button>
  </div>
  <br>
</div>