<a href="#feeds/<%= feed.id %>" class="search-result-link"><%= feed.get('title') %></a>
  <% debugger; %>
  <% if (feed.get('subscribed') === "subscribed") { %>
    <button class="toggle-subscribe-btn red btn">Unsubscribe</button>
  <% } else { %>
    <button class="toggle-subscribe-btn green btn">Subscribe</button>
  <% } %>