<ul class="entries-list nav">
  <% entries && entries.forEach(function(entry, idx){ %>
    <li>
      <a href="#" data-idx="<%= idx %>" class="entry-list-item <%= idx === activeIdx ? "active-entry" : "" %>">
      <%= entry.title %></a>
    </li>
  <% }); %>
</ul>