<div class="modal-background"></div>
<div class="modal-content">
  <div class="errors"></div>
  <button class="close">&times;</button>
  <h3>Add A New Interest</h3>
  <br>
  <label for="topic-title">I want to see more:</label>
  <input id="topic-title" type="text" name="topic[title]">
  <br>
  <button class="btn add-user-topic">Submit!</button>
</div>