<h3>Add A New Interest</h3>
<br>
<div class="ui-widget">
  <div class="new-topic-block">
    <label for="topic-title">I want to see more:</label>
    <input id="topic-title" class="form-control" type="text" name="topic[title]">
    <br>
    <button class="btn plain add-user-topic">Submit!</button>
  </div>
</div>