<h3>Add A New Interest</h3>
<br>
<div class="ui-widget">
  <form class="form-group">
    <label for="topic-title">I want to see more:</label>
    <input id="topic-title" class="form-control" type="text" name="topic[title]">
    <br>
    <button type="submit" class="btn plain add-user-topic form-control">Submit!</button>
  </form>
</div>