<div class="modal-background"></div>
<div class="modal-content china-bg">
  <div class="errors"></div>
  <button class="close">&times;</button>
  <h3>Add A New Interest</h3>
  <br>
  <div class="ui-widget">
    <div class="new-topic-block">
      <label for="topic-title">I want to see more:</label>
      <input id="topic-title" type="text" name="topic[title]">
      <button class="btn add-user-topic">Submit!</button>
    </div>
  </div>
</div>