<h1>Routing correctly</h1>
<div id="navbar"></div>
<div id="feeds-index-bar"></div>
<div id="main-content"></div>

<script>
$(document).ready(function(){
  var current_user = "<%= current_user.to_json %>";
  Breedly.initialize({ current_user_id: current_user_id });
});
</script>