<div id="all-content">

</div>
<script>
$(document).ready(function(){
  Breedly.CURRENT_USER_ID = "<%= current_user.id %>";
  Breedly.RAILS_ENV = "<%= Rails.env %>";
  Breedly.initialize();
});
</script>