/* reset and basics */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body { line-height: 1; }ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
body { font-family: 'Oxygen', sans-serif; }
h1{ font-size: 3em; margin: 10px; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h1, h2, h3 {
  padding: 10px;
  text-align: center;
}
form { padding: 20px; }
form input[type="number"] { width: 50px; }
button { -webkit-appearance: none; }
body { background-image: url("cubes.jpg"); }

/* #AA1111 #FFFFFF #EBEBEB #000000; */

/* forms */
form input, input {
  background-color: transparent;
  font: inherit; 
  cursor: default;
  display: inline-block;
  padding: 2px;
  cursor: text;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

form.auth-form input { color: #EBEBEB; }

.auth-form {
  padding: 0;
  display: block;
  font-size: 1.2em;
}

/*#user-input table tr:nth-of-type(2) {
  background-color: rbga(17, 17, 17, 0.4);
}*/

.auth-form { color: #EBEBEB; }
input.btn.auth-btn { margin: 20px; }

.auth-form input {
  margin: 10px;
  border: none;
  border-bottom: thin solid #EBEBEB; 
}

input#topic-title.ui-autocomplete-input {
  padding: 10px;
}

table tr td {
  border: none;
}

table {
  border: none;
}

table td {
  text-align: left;
  padding: 5px;
}

.new-feed-block label, .new-feed-block input, .new-feed-block button {
  float: left;
  margin-left: 20px;
} 

.new-topic-block label, .new-topic-block input, .new-topic-block button {
  float: left;
  margin-left: 20px;
} 

.new-feed-block label, .new-topic-block label {
  margin-left: 20%;
  font: inherit;
  line-height: 3em;
}

.btn:not(.nav-btn) {
  margin: 0px 20px 0px 20px;
}

.nav-btn.btn:hover {
  box-shadow: 0 0 10px #EBEBEB;
  background-color: rgba(235, 235, 235, 0.6); 
  border: 2px solid #EBEBEB;
}

#user-update .btn { margin-top: 20px; }


button.toggle-subscribe-btn {
  margin-bottom: 30px;
}

button.green {
  border: thin solid #1DDA1D;
  box-shadow: 0 0 10px #00DE00;
  background-color: none;
}

button.green:hover {
  box-shadow: 0 0 10px black;
  background-color: rgba(75, 150, 75, 0.5);
}

button.red {
  border: thin solid #CA3D3D;
  box-shadow: 0 0 10px #AA1111;
  background-color: none;  
}

button.red:hover {
  box-shadow: 0 0 10px black;
  background-color: rgba(110, 20, 20, 0.5); 
}

table tr {
  border: none;
}

input:focus, input:hover {
  outline: none;
  box-shadow: 0 0 10px #EBEBEB;
}

#errors-main, #success-main {
  font-size: 1.0em;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 20;
}

#errors-main p, #success-main p{
  padding: 30px;
}

#errors-main {
  color: #AA1111;
  background-color: rgba(224, 158, 158, 0.5);
}

#success-main {
  color: green;
  background-color: rgba(117, 241, 109, 0.5);
}

#whirly {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  z-index: 10;
}

/* autocomplete */

li.ui-menu-item {
  border: 1px solid gray;
  margin-top: -1px;
}

.ui-autocomplete { 
  height: 100px; 
  width: 250px;
  overflow-y: scroll; 
  overflow-x: hidden;
}

/* buttons */
.centered {
  margin-left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
}

.btn {
  outline: none;
  color: black;
  border: none;
  font-size: 1.0em;
  padding: 10px;
  font-family: 'Oxygen', sans-serif;
  cursor: pointer;
  box-shadow: 0 0 10px black;
  background-color: rgba(235,235,235,0.3);
}

.auth-screen .btn:focus, .auth-screen .btn:hover {
  border: 2px solid #EBEBEB;
  box-shadow: 0 0 10px #EBEBEB;
  background-color: rgba(235,235,235,0.6);
}

.nav-btn {
  background: none;
  float: right;
  color: #EBEBEB;
}

a:hover, a:focus, a:active {
  color: red;
  outline: none;
}

input#feed-url, input#topic-title {
  padding: 10px;
}

/* positioning for containers  */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, black, #AA1111);
  height: 50px;
  width: 100%;
  z-index: 2;
  overflow: visible;
  box-shadow: 0 5px 10px black;
}

#feeds-index-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 17%;
  width: 17%;
  background-color: black;
  height: calc(100% - 50px);
  box-shadow: 5px 0 10px black;
  overflow: scroll;
}

#main-container {
  position: fixed;
  top: 50px;
  left: 17%;
  right: 83%;
  overflow: scroll;
  width: 66%;
  z-index: -1;
  height: calc(100% - 50px);
}

/* feeds index */
#feeds-index {
  position: relative;
  width: 90%;
}

#feeds-index a {
  color: #EBEBEB;
  text-decoration: none;
  margin: 10px;
  margin-left: 20px;
  display: block;
}

#feeds-index a:hover, .auth-screen a:hover {
  color: #AA1111;
  outline: none;
}

.feed-list {
  margin-top: 50px;
}

/* main content feed show */
#main-content {
  position: relative;
  border: thin solid #EBEBEB;
  height: inherit;
  width: 100%;
  padding: 0;
  margin: 30px auto 30px auto;
}

#main-content a.feed-title {
  font-size: 2.8em;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #AA1111;
  margin: 20px 0 20px 0;
}

.feed-title { color: #A11111; }

#main-content a.feed-title:hover {
  color: #EBEBEB;
  text-shadow: 0 0 15px #AA1111;
}

#main-content div img, #main-content a img {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
  display: block;
  margin-bottom: 20px !important;
  max-width: 75%;
}

#main-content a {
  display: inline;
}


#main-content div {
  font-size: 1em;
  text-align: center;
  margin: auto 50px auto 50px;
}

#main-content a.entry-title {
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  margin: 20px 0 40px 0;
}

#main-content p {
  margin: 10px;
  font-size: 1.0em;
  text-indent: 40px;
  padding: 10px;
  line-height: 1.4;
  text-align: left;
}

.feed-desc {
  overflowY: scroll;
  position: fixed;
  top: 50px;
  left: 17%;
  right: 83%;
  height: calc(100% - 150px);
  width: calc(66% - 100px);
  z-index: 10;
  padding: 50px;
  text-align: center;
}

#main-content h3 {
  color: #AA1111;
}

h4 {
  font-size: 1.4em;
  margin: 15px;
}

#main-content .modal-content .btn {
  margin: 20px;
}


/* modals */
.modal-background {
  background-color: rgba(235, 235, 235, 0.8); 
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 5;
}


.modal-content {
  position: fixed;
  top: 50px;
  left: 17%;
  width: calc(66% - 60px);
  bottom: 50px;
  z-index: 6;
  padding: 30px;
  text-align: center;
  border: 2px solid maroon;
  border-radius: 5px;
  box-shadow: 0 0 10px #AA1111;
  overflow: scroll;
}

.desc-layer-bg {
  background: url("cubes.jpg"); 
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 3;
}

/* logo */
.logo-small {
  width: 17%;
  left: 0;
  top: 0;
  z-index: 3;
  position: relative;
}

.logo-full {
  width: 40%;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

/* entries */
#entries-index-container {
  background-color: #AA1111;
  color: #EBEBEB;
  position: fixed;
  top: 50px;
  left: 83%;
  right: 100%;
  width: 17%;
  height: calc(100% - 50px);
  box-shadow: -5px 0 10px black;
  overflow: scroll;
}

#entries-index li {
  text-decoration: none;
  margin: 10px;
  margin-left: 20px;
  display: block;
}

#entries-index li:hover {
  color: black;
  text-shadow: 0 0 10px #EBEBEB;
  cursor: pointer;
}

#entries-index ul:first-child { margin-top: 30px; }

/* close button */
.close {
  border: none;
  background: none;
  display: inline;
  cursor: pointer;
  float: right;
  font-size: 2.0em;
  color: #AA1111;
  margin: -10px -5px 0 0;
  padding: 0;
}

.close:hover {
  text-shadow: 0 0 10px red;
}

/* auth */
.auth-screen {
  background: radial-gradient(at top, black, rgba(235,235,235,0) 80%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.auth-screen form.guest-hidden {
  margin-top: 30px;
}

#main-content p.timestamp {
  color: gray;
  text-align: left;
  margin-top: -20px;
}

.auth-screen a {
  display: inline-block;
  color: black;
}
.errors { display: inline-block; }
.errors li {
  color: #AA1111;
  display: inherit
}

.feathered-bg {
  background: url("upfeathers.png"); 
}

.symphony-bg {
  background: url("symphony.png"); 
}

.china-bg {
  background: url("contemporary_china.png"); 
}
