@import "bootstrap-sprockets";
@import "bootstrap";

body {  
  font-family: 'Monaco' monospace;
  color: black;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.sidebar-nav-fixed { width:20%; }

.auth-screen .form-control:focus {
  box-shadow: 0 0 10px #EBEBEB;
  border: thin solid #EBEBEB;
}

ul { list-style-type: none; }

.whirly {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10;
}

.auth-div {
  position: relative;
  max-width: 30%;
  margin-top: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.well { 
  border: none; 
  border-radius: 0px;
  padding: 0;
  min-height: inherit;
  margin-bottom: 15px;
  max-height: calc(100% - 50px);
}

a.feed-list-link, a.entry-list-item {
  padding: 0;
}

#entries-index .entry-list-item:first-child { margin-top: 0px; }

#feeds-index a.feed-list-link:first-child { margin-top: -1px; }

#feeds-index li a { 
  border-top: 1px inset  gray; 
  border-bottom: 1px outset gray; 
  width: 100%;
}

#feeds-index-container {
  z-index: 3;
  top: 50px;
  left: 0;
  bottom: 0;
  background-color: black;
  box-shadow: 5px 0 5px gray; 
  min-height: calc(100% - 60px);
}

.index-title {
  font-size: 22px;
  padding: 15px 5px 10px 10px;
  margin: 0;
}

#entries-index-container {
  z-index: 3;
  top: 50px;
  left: 80%;
  bottom: 0;
  background-color: #A11111;
  box-shadow: -5px 0 5px black;
  min-height: calc(100% - 60px);
}

.active-feed, #feeds-index .nav > li a:hover, #feeds-index .nav > li a:focus { 
  background-image: url('cubes.jpg');
  border: none !important;
}

li.active-feed > a {
  border: none !important;
  color: black;
}

/* buttons */


.btn {
  background-color: gainsboro;
}


.btn.submit {
  box-shadow: 0 0 10px #A11111;
}

.btn:hover, .btn:focus {
  outline: none;
  color: black;
  box-shadow: 0 0 10px #EBEBEB;
}

.btn.plain { 
  box-shadow: 0 0 8px black;
  border: thin solid lightgray
}

.btn.plain:hover, .btn.plain:focus { 
  box-shadow: 0 0 8px #337AB7;
  border: thin solid #337AB7;
  color: #337AB7;
}

.navbar-toggle .icon-bar {
  background-color: black;
}

.btn.green {
  box-shadow: 0 0 10px #28B708;
  border: thin solid #3CE616;
}

.btn.red {
  box-shadow: 0 0 10px #A11111;
  border: thin solid #D86F6F;
}

.btn.red:hover, .btn.red:focus {
  background-color: rgba(161, 17, 17, 0.5);
}

.btn.green:hover, .btn.green:focus {
  background-color: rgba(60, 230, 20, 0.5);
}

.ui-autocomplete.ui-widget-content {
  max-height: 500px;
  overflow-y: scroll;
  max-width: 300px;
  border: 2px solid gray;
  box-shadow: 0 0 10px black;
  border-top: none;
  border-radius: 3px;
  background-image: url("symphony.png");
  background-repeat: repeat;
}

.ui-autocomplete { font-family: 'Monaco' monospace ;}

#entries-index li a.entry-list-item { color: #EBEBEB; }
/* positioning for containers  */

#navbar .nav > li > a:focus, #navbar .nav > li > a:hover {
  background-color: black;
  color: #EBEBEB;
}

.dropdown-menu li:hover > a, .dropdown-menu li:focus > a {
  color: #337AB7;
}

ul.dropdown-menu {
  border: 2px solid #EBEBEB;
}


.ui-autocomplete-input {
  border: thin solid #337AB7;   
}

.ui-autocomplete-input:focus, .form-control:focus {
  border: 2px outset #337AB7; 
  color: #337AB7;  
  box-shadow: 0 0 8px #337AB7;
}

#feeds-index li a.feed-list-link, #entries-index li a.entry-list-item { margin: 7px 0px 7px 5px; }
.navbar {
  margin: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: 0 5px 10px black;
  z-index: 4;
}
#entries-index li > a:hover, #entries-index li > a:focus { background-color: black; }
#entries-index li:hover, #entries-index li:focus, #entries-index li.active-entry {
  margin-left: -10px;
  padding-left: 10px; 
  background-color: black;
  outline: none;
}

/* main content */

#main-container {
  position: fixed;
  top: 50px;
  left: 20%;
  right: 80%;
  overflow: scroll;
  width: 60%;
  z-index: -1;
  height: calc(100% - 50px);
}

#main-content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding: 50px auto 50px auto;
}

#main-content a.feed-title {
  font-size: 2.2em;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #AA1111;
  margin: 20px 0 5px 0;
  text-shadow: -2px 2px 5px #A11111;
}

.feed-title {
  text-shadow: -2px 2px 5px black;
}

#main-content a.feed-title:hover {
  color: #EBEBEB;
  text-shadow: 0 0 15px #AA1111;
}

#main-content div img, #main-content a img, #main-content video, 
div.teaser-content img,  div.teaser-content a img, div.teaser-content video {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
  -webkit-transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  display: block;
  margin-bottom: 20px !important;
  max-width: 75%;
}

div.teaser-content iframe, #main-content iframe {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
  -webkit-transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
}

#main-content a:hover {
  text-decoration: none;
  color: #A11111;
}

#main-content div {
  font-size: 1em;
  /*text-align: center;*/
  margin: auto 50px auto 50px;
}

a.entry-title {
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  margin: 20px 0 40px 0;
}

#main-content p, div.teaser-content p {
  margin: 10px;
  font-size: 1.0em;
  text-indent: 40px;
  padding: 10px;
  line-height: 1.4;
  text-align: left;
}

#main-content h3 {
  color: #AA1111;
}

#main-content .modal-content .btn {
  margin: 20px;
}

#main-content p.timestamp {
  color: gray;
  text-align: left;
  margin-top: -20px;
}

.feed-header {
  text-align: center;
}

.teaser-content {
  z-index: 5;
  position: fixed;
  top: 50px;
  left: 20%;
  height: calc(100% - 50px);
  padding: 50px;
  width: 60%;
  overflow-y: scroll;
}

#main-content .help-content p { text-indent: 0px; text-align: left;}
.help-content ul { list-style-type: disc; margin: 20px; }
.help-content h4 { 
  padding: 20px; 
  color: #A11111;
}

/* modals */
.modal-bg {
  background-color: rgba(40, 40, 40, 0.9); 
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 4;
}

.modal-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 5;
  max-height: 90%;
  max-width: 90%;
  padding: 5px 20px 20px 20px;
  text-align: center;
  border: 2px solid maroon;
  border-radius: 5px;
  box-shadow: 0 0 10px #AA1111;
  overflow: scroll;
}

.close {
  display: block;
  opacity: 0.4;
}

.modal-content h3 {
  font-size: 1.3em;
  color: #AA1111;
}

.teaser-bg {
  background: url("cubes.jpg"); 
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 4;
}

/* logo */
.logo-full {
  width: 40%;
  z-index: 2;
  margin-top: 10px;
}

/* auth */
.auth-screen {
  background-image: radial-gradient(at top, black, rgba(235,235,235,0) 80%);
  background-image: -webkit-radial-gradient(at top, black, rgba(235,235,235,0) 80%); 
  background-image:    -moz-radial-gradient(at top, black, rgba(235,235,235,0) 80%); 
  background-image:      -o-radial-gradient(at top, black, rgba(235,235,235,0) 80%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.auth-form > .form-control { color: black; }

.auth-screen form.guest-hidden {
  margin-top: 30px;
}

.feathered {
  background-image: url('upfeathers.png');
}

.symphony {
  background-image: url('symphony.png'); 
}

.cubed {
  background-image: url('cubes.jpg'); 
}

.circled {
  background-image: url('contemporary_china.png'); 
}

#public-feed-url {
  border: thin solid #337AB7;
  min-width: 300px;
}

.search-result-content li {
  text-align: left;
}

td {
  padding: 5px 20px 5px 20px;
  text-align: left;
}

.errors { color: #AA1111; }

.delete-btn {
  padding: 2px;
  margin: 5px;
  background-color: #A11111;
  color: black;
}

#main-content .author-stamp {
  text-indent: 0px;
  color: gray;
  text-align: center;
  margin-top: 0px;
}

a.or-link {
  color: #A11111;
  font-size: 1.3em;
  text-shadow: -2px 2px 5px #421717;
}

a.or-link:hover {
  text-decoration: none;
  text-shadow: -2px 2px 5px black;
}

.splash {
  min-height: calc(100% - 50px);
  min-width: inherit;
  background: radial-gradient(black, rgba(20, 20, 20, 0.01) 80%);
}