@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  background-image: url("cubes.jpg"); 
  font-family: 'Monaco' monospace;
  color: black;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.sidebar-nav-fixed { width:20%; }

.form-control:focus {
  box-shadow: 0 0 10px #EBEBEB;
  border: thin solid #EBEBEB;
}
.whirly {
  position: absolute;
  left: 50%;
  top: 30%;
/*  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);*/
  z-index: 10;
}

.auth-div {
  position: relative;
  max-width: 30%;
  margin-top: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.well { 
  border: none; 
  border-radius: 0px;
  padding: 0;
  min-height: inherit;
  margin-bottom: 15px;
  max-height: calc(100% - 50px);
}

a.feed-list-link, a.entry-list-item {
  padding: 0;
}

#entries-index .entry-list-item:first-child { margin-top: 0px; }

#feeds-index a.feed-list-link:first-child { margin-top: -1px; }

#feeds-index li a { 
  border-top: 1px inset  gray; 
  border-bottom: 1px outset gray; 
  width: 100%;
}

#feeds-index-container {
  z-index: 3;
  top: 50px;
  left: 0;
  bottom: 0;
  background-color: black;
  box-shadow: 5px 0 5px gray; 
  min-height: calc(100% - 60px);
}

.index-title {
  font-size: 22px;
  padding: 15px 5px 10px 10px;
  margin: 0;
}

#entries-index-container {
  z-index: 3;
  top: 50px;
  left: 80%;
  bottom: 0;
  background-color: #A11111;
  box-shadow: -5px 0 5px black;
  min-height: calc(100% - 60px);
}

.active-feed, #feeds-index .nav > li a:hover, #feeds-index .nav > li a:focus { 
  background-image: url('cubes.jpg');
  border: none !important;
}

li.active-feed > a {
  border: none !important;
  color: black;
}

/* buttons */


.btn {
  background-color: initial;
  box-shadow: 0 0 10px #A11111;
}

.btn:hover {
  background-color: lightgray;
  box-shadow: 0 0 10px #EBEBEB;
  outline: none;
}

#ui-id-1.ui-autocomplete {
  max-height: 500px;
  overflow-y: scroll;
  max-width: 300px;
  border: 2px solid gray;
  box-shadow: 0 0 10px black;
  border-top: none;
  border-radius: 3px;
  background-image: url("symphony.png");
  background-repeat: repeat;
}

a { margin: 10px; }
a:hover { text-shadow: 0 0 10px #EBEBEB; }


#entries-index li a.entry-list-item.active-entry { 
  margin-left: -10px;
  padding-left: 20px; 
  background-color: black;
  outline: none;
}

#entries-index li a.entry-list-item { color: #EBEBEB; }
/* positioning for containers  */

.navbar a { 
  margin: 0; 
  /*color: gray;*/
}

#navbar .btn { color:#EBEBEB; }
#navbar .btn:hover { color:black; }
#feeds-index li a.feed-list-link, #entries-index li a.entry-list-item { margin: 7px 0px 7px 5px; }
.navbar {
  background-image: url('symphony.png');
  margin: 0px;
  border-radius: 0px;
  box-shadow: 0 5px 10px black;
  z-index: 4;
}
#entries-index li > a:hover, #entries-index li > a:focus { background-color: black; }
#entries-index li:hover, #entries-index li:focus {
  margin-left: -10px;
  padding-left: 15px; 
  background-color: black;
  outline: none;
}

/* main content */

#main-container {
  position: fixed;
  top: 50px;
  left: 20%;
  right: 80%;
  overflow: scroll;
  width: 60%;
  z-index: -1;
  height: calc(100% - 50px);
}

#main-content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: scroll;
  padding: 50px auto 50px auto;
}

#main-content a.feed-title {
  font-size: 2.2em;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #AA1111;
  margin: 20px 0 20px 0;
}

#main-content a.feed-title:hover {
  color: #EBEBEB;
  text-shadow: 0 0 15px #AA1111;
}

#main-content div img, #main-content a img {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
  -webkit-transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  display: block;
  margin-bottom: 20px !important;
  max-width: 75%;
}

#main-content a:hover {
  text-decoration: none;
  color: #A11111;
}

#main-content div {
  font-size: 1em;
  /*text-align: center;*/
  margin: auto 50px auto 50px;
}

#main-content a.entry-title {
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  margin: 20px 0 40px 0;
}

#main-content p {
  margin: 10px;
  font-size: 1.0em;
  text-indent: 40px;
  padding: 10px;
  line-height: 1.4;
  text-align: left;
}

#main-content h3 {
  color: #AA1111;
}

#main-content .modal-content .btn {
  margin: 20px;
}

#main-content p.timestamp {
  color: gray;
  text-align: left;
  margin-top: -20px;
}

.feed-header {
  text-align: center;
}

.feed-desc {
  padding: 50px;
  z-index: 3;
  text-align: center;
}


/* modals */
.modal-bg {
  background-color: rgba(40, 40, 40, 0.7); 
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 2;
}


.modal-content {
  position: fixed;
  background-color: #EBEBEB;
  top: 50px;
  left: 17%;
  width: calc(66% - 60px);
  bottom: 50px;
  z-index: 3;
  padding: 30px;
  text-align: center;
  border: 2px solid maroon;
  border-radius: 5px;
  box-shadow: 0 0 10px #AA1111;
  overflow: scroll;
}

.modal-content h2, .modal-content h3 {
  color: #AA1111;
}

.desc-layer-bg {
  background: url("cubes.jpg"); 
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 2;
}

/* logo */

.logo-full {
  width: 40%;
  z-index: 2;
  margin-top: 10px;
}



/* auth */
.auth-screen {
  background-image: -webkit-radial-gradient(at top, black, rgba(235,235,235,0) 80%); 
  background-image:    -moz-radial-gradient(at top, black, rgba(235,235,235,0) 80%); 
  background-image:      -o-radial-gradient(at top, black, rgba(235,235,235,0) 80%);
  background-image: radial-gradient(at top, black, rgba(235,235,235,0) 80%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.auth-screen form.guest-hidden {
  margin-top: 30px;
}