/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body { line-height: 1; }ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}

form input {
  background-color: transparent;
  font: inherit; 
  cursor: default;
  display: inline-block;
}

form {
  padding: 20px;
}

input[type='text'], input[type='password'] {
  cursor: text;
}

html {
  font-family: 'Monaco' monospace;
}

a {
  text-decoration: none;
  margin: 10px;
  color: red;
  display: block;
}

a:hover {
  color: black;
  text-shadow: 0 0 10px red;
}

h1 {
  font-size: 3em;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}


/* positioning for containers  */
#navbar, #feeds-index, #main-content {
  
}

#feeds-index {
  margin-top: 1px;
  overflow: scroll;
}

#navbar {
  /*border: thin solid black;*/
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

#feeds-index {
  /*border: thin solid black;*/
  position: fixed;
  top: 50px;
  left:0;
  width: 15%;
  height:95%;
}

#main-container {
  position: fixed;
  top: 50px;
  left: 15%;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: thick solid black;
}

#main-content {
  position: relative;
  width: inherit;
  height: inherit;
  margin-top: 1px;
  text-align: center;
}

/* modals */

.modal-background {
  background: rgba(0, 0, 0, .50); 
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
}

.modal-content {
  position: absolute;
  border: thick solid red;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  z-index: 2;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.submit, .add-feed, #update-user-btn, #add-feed-btn {
  text-align: center;
  padding: 10px;
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Monaco', monospace;
  cursor: pointer;
}

#update-user-btn, #add-feed-btn {
  margin-top: 10px;
  margin-left: 10px;
}

.submit:hover, .add-feed:hover, #update-user-btn:hover, #add-feed-btn:hover {
  box-shadow: 0 0 10px black;
}

.submit {
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}