<div class="help-content">
  <h4> Welcome to </h4>
  <img alt="breedly" src="<%= asset_path('logo_small.png') %>" />

  <h3>Getting started.</h3>
  <p>Up in the navbar 'My profile' section you can:</p>
  <ul>
    <li>Update your user settings.</li>
    <li>Add your personal feed to the database.</li>
    <li>Add interests and see what feeds we suggest for you to check out.</li>
    <li>View this help page at any time.</li>
    <li>Log out.</li>
  </ul>
  <p> While you're up there feel free to: </p>
  <ul>
    <li>Find a random feed.</li>
    <li>Search for a specific feed by title.</li>
    <li>Use custom search to search for feeds by topic.</li>
    <li>Add any feed to the public database.</li>
  </ul>
  <h4>On the left you'll see your subscribed feeds.</h4>
  <ul>
    <li>Hover over any of these to see a brief description of the feed as well as any associated topics.</li>
    <li>Click any feed to fetch it and see its latest entries.</li>
    <li>Click subscribe on any feed to add it to your subscribed feeds.</li>
    <li>Drag and drop any of these to reorder them so your favorite feeds stay at the top.</li>
    <li>Your active feed will be highlighted white.</li>
  </ul>
  <h4>In the middle you'll see the title and info for your feed as well as the active entry.</h4>
  <h4>On the right is the list of entries for the active feed.</h4>
  <ul>
    <li>Hover over any of these to see a teaser for the entry.</li>
    <li>Click any of these entries to view it in full.</li>
    <li>Your active entry will be highlighted in black.</li>
  </ul>
</div>