<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img class="navbar-brand" src="<%= image_path('logo_small.png') %>">
  </div>

  <div class="collapse navbar-collapse" id="collapsable" data-intro="Welcome to Breedly.
Breedly is a feed reading site where you can find and subscribe to your favorite feeds, as well as add your own blog or feed to be discovered." data-step="1" data-position="bottom-left-aligned">
    <ul class="nav navbar-nav" data-intro="Up here you can add personal feeds and update your interests or settings to see feeds suggested for you." data-step="4">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" id="update-user-btn">Update my Info</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" id="user-topic-btn">Add an Interest</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#help" id="help-btn">Getting Started</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" id="logout-btn">Log Out</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-intro="Here you can add public feeds to the database.  You can also search by title, topic, or be shown a random feed.
    Enjoy!" data-step="5">
      <li><a href="#" id="feed-search-btn">Custom Search</a></li>
      <li><a href="#" id="add-feed-btn">Add a Public Feed</a></li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" id="feed-title" placeholder="feed title">
        <button type="submit" class="btn btn-default plain" id="nav-feed-search">Search</button>
      </div>
    </form>
    <form class="navbar-form navbar-right form-group">
      <button class="btn btn-default plain" id="random-feed">Show Me a Random Feed!</button>
      <p style="display:inline">or..</p>
    </form>
  </div>
</div>