  <div id="navbar"></div>
  <div id="feeds-index-container">
    <div id="feeds-index"></div>
  </div>
  <div id="main-container">
    <div id="main-content"></div>
  </div>
  <div id="entries-index-container">
    <div id="entries-index"></div>
  </div>