<div class="splash">
  <img style="max-width:100%;margin-top:200px" alt="splash" src="<%= asset_path('logo_full.png') %>"/>
</div>
<script>
  $(function() {
    introJs().setOptions({ 'skipLabel': 'Exit', 'tooltipPosition': 'bottom' })
    introJs().start();
  });
</script>